    <div class="main-content">

        <h2>Overview</h2>
        <hr>

        <div style="margin: 20px 0px; display: flex; background-color: bisque; justify-content: space-between; align-items: center; padding: 10px;">
            <div>
                <p style="font-size: xx-large; font-weight: medium;">Welcome to your store {{first_name}}!</p>
                <p style="font-size: large;"> Verify your account to start selling</p>
            </div>

            <div class="verify">
                <a href="/account-setting">Verify your account <i class='bx bx-link-external' style='color:#ffffff'></i></a>
            </div>
        </div>

        <div style="display: flex;">
            <div style="display: flex; flex-direction: column; width: 40%;">
                <div class="balance">
                    <p style="font-size: large;">Account Balance</p>
        
                    <p style="font-size: xx-large; font-weight: bold;"><span>&#8358;</span> 0.00</p>
        
                    <p style="margin: 20px 0px;">This is the amount  of money available for withdrawal to  your bank account</p>
        
                    <div class="buy">
                        <a href="">Withdraw <i class='bx bx-link-external' style='color:#ffffff'></i></a>
                      </div>
                </div>
        
                <div class="balance">
                    <p style="padding-bottom: 15px; font-size: large;"><b>Stock Overview</b></p>
    
                    <table id="overview-data">
                        <tr>
                            <td>Items in Stock</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Pending Orders</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Sales in the Last One Week</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Sales in the Last One Month</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Categories of Products in Stock</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
    
            <div class="analytics">
                <img src="./analytics.png" alt="">
                <p style="font-size: large;">No analytics available yet</p>
            </div>
        </div>
    
    </div>