<title>Payment</title>
<a href="/payment/{{_id}}" class="btn btn-warning text-light mt-4">&larr; Go
  back</a>
<div class="col-md-6 m-auto">
  <img src="/images/Logo.png" class="" />
  <form class="mt-4" method="" autocomplete="on">
    <h6 class="text-danger">Note: Amount should be between $1 to $10,000 (USD),<br
      />
      NGN100 to NGN5,000,000 and KSH100 to KSH5,000,000</h6>
    <div class="row text-center">
      <div class="col-lg-7">
        <label for="email">Email Address</label>
        <input
          type="email"
          id="email-address"
          class="form-control"
          required
        /><br />
        <label for="amount">Amount</label>
        <input
          type="tel"
          id="amount"
          class="form-control"
          disabled
          value="{{amount}}"
          required
        /><br />
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" class="form-control" /><br />
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" class="form-control" /><br />
      </div>

    </div>
    <div class="form-submit">
      <button
        style="margin-left: 6em;"
        type="button"
        onclick="SquadPay()"
        class="btn btn-danger"
      >Check Out</button><br /><br />
    </div>
  </form>

</div>

<script src="https://checkout.squadco.com/widget/squad.min.js"></script>
<script>
function SquadPay() {
 
  const squadInstance = new squad({
    onClose: () => console.log("Widget closed"),
    onLoad: () => console.log("Widget loaded successfully"),
    onSuccess: () => console.log(`Linked successfully`),
    key: "sandbox_pk_fad3ae4b4abda33f819a8390646b156ba86aeea576cb",
    //Change key (test_pk_sample-public-key-1) to the key on your Squad Dashboard
    email: document.getElementById("email-address").value,
    amount: document.getElementById("amount").value * 100,
    //Enter amount in Naira or Dollar (Base value Kobo/cent already multiplied by 100)
    currency_code: "NGN"
  });
  squadInstance.setup();
  squadInstance.open();

}
</script>
